div{
  transition-duration: 5s;
}
.nav-profile-brand {
  max-height: 50px;
  display: inline-block;
}
.navbar-brand{
  height: 50px;
  padding: 0;
  float: left;
  padding-left: 25px;
}
.container {
  font-size: 18px;
  /* Don't add margin for the sections, instead apply padding to the navbar */
}
.navbar-fixed-top {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  border: none;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  box-shadow: 0px 2px 2px #888888;
}
.navbar-toggle{
  border-radius: 2px;
  border-color: cyan;
}
.nav.navbar-nav li a{
  color: #1a1a1a;
}
.menu:hover{

}
.dropdown-menu-right{
    width: 200px;
    position:relative;
    float:right;
}
.account-drop{
    font-size: 16px;
}
.dropdown-menu .account-drop a:hover{
    background-color: rgba(22, 22, 22, 0.8);
    color: rgba(255, 255, 255, 0.8);
}
.btn-media{
  height: 30px;
  width: 50px;
  margin-top: 10px;
}
.section-home{
  height: 750px;
}
.section{
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
h1{
  margin-top: 0;
}
.welcome{
  background-image: url("Images/education-parallax.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.mission{
    background-color: rgba(22, 22, 22, 1);
    padding-top: 80px;
    padding-bottom: 60px;
}
.month-later{
    background-color: rgba(22, 22, 22, 1);
    padding-top: 25px;
    padding-bottom: 25px;
    height: 150px;
}
.month{
    font-size: 48px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}
.business{
  background-color: rgba(22, 22, 22, 1);
  font-size: 75px;
}
/* Alternate black and white background and text*/
/*
.mission:hover{
    background-color: #fff;
}
.mission:hover .goal h1{
    color: #000000;
}
.mission:hover .goal p{
    color: #000000;
}
*/
.mission-top, .business-top{
  padding-top: 50px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 48px;
}
.left-align{
    text-align: left;
}
.education-gap-image{
    max-width: 350px;
    margin: auto;
    margin-top: 55px;
}
.education-gap-image img{
    width: 100%;
    height: 450px;
}
.parallax-1{
    background-image: url("Images/education-parallax2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 70vh;

}
.parallax-2{
    background-image: url("Images/education-parallax3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 70vh;
}
.colored-left-line{
  width: 50%;
  height: 1px;
  background-color: #6b798f;
  margin-left: 0;
}
.cause{
  font-size: 18px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 25px;
  padding-bottom: 50px;
  color: rgba(160, 160, 160, 1);
  font-weight: 400;
  line-height: 25px;
}
.strategy{
    font-size: 28px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-top: 25px;
    padding-bottom: 50px;
    color: #fff;
    font-weight: 400;
}
.intro{
  font-size: 35px;
  font-weight: 600;
  background-color: rgba(22, 22, 22, 0.3);
  color: rgba(255, 255, 255, 1);
}

#welcome{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}
.welcome-head{
  text-align: center;
  font-size: 125px;
  font-weight: 700;
  padding-top: 150px;
  color: rgba(0, 51, 102, 1);
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
/* About/Profile page css starts here */
/*By default, images adjusts starting from top left*/
.about{
  background-image: linear-gradient(
      to right bottom,
      rgba(203, 200, 232, 1),
      rgba(176, 173, 220, 1),
      rgba(100, 94, 186, 1)
      );
  background-size: 100% 100%;
}
.row{
  padding-bottom: 50px;
}
.profile-role{
  font-size: 25px;
  font-weight: 700;
}
.profile-name{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}
.profile-pic img{
  border-radius: 50%;
}
.pictures{
  height: 180px;
  width: 180px;
}
.pic{
  text-align: center;
  /*background-color: rgba(91, 122, 153, 0.7);*/
  padding-top: 10px;
  padding-bottom: 10px; /*Did I have to lower the padding from 20 to 10 or could i have just increaed the content height */
}
.team-content{
  padding-top: 100px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
/*.hover-text{
  background-color: rgba(153, 255, 153, 0.5);
  display: none;
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 360px; /* Do I have to adjust the width of textbox to the width of the column or is there an easier method?
  border-radius: 25px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  padding-top: 65px;
  font-size: 20px;
  margin-bottom: 70px;*/

}
.pic:hover .hover-text{
  display: block;
}
/* Contact css starts here */
.contact{
  /*background-image: url("Images/pikachu.jpg");*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right bottom,
      rgba(49, 112, 143, 1) 40%,
      rgba(64, 146, 187, 1),
      rgba(198, 221, 174, 1)
    );
  font-size: 72px;
  padding-top: 110px;
  padding-bottom: 100px;
}
.contact-content{
  font-size: 72px;
  font-weight: 500;
  color: #ffffff;
}
.form-control{
  width: 40%;
}
.name, .sender, .subject{
  color: rgba(255, 255, 255, 1);
}
.form-group{
  padding-top: 30px;
}
.btn-custom{
  margin-top: 15px;
  font-size: 20px;
}
.footer{
  background-color: rgba(124, 113, 157, 1);
  background-color: rgba(22, 22, 22, 1);
}
.media-line-break{
  background-color: #fff;
  width: 50%;
  opacity: 0.5;
}
.merithero-social{
    font-size: 36px;
    font-weight: 600;
    font-family: Cousine;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 15px;
    padding-bottom: 0;
}
.merithero-underline{

}
.social-media-icons i.fa.fa-facebook-square{
  font-size: 50px;
  color: rgba(0, 0, 102, 1);
  padding-top: 15px;
}
.social-media-icons i.fa.fa-twitter{
  font-size: 50px;
  color: rgba(0, 132, 180, 1);
  padding-top: 15px;
}
.copyright{
    padding-top: 15px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.8);
}
.icon-space{
  padding-left: 50px;
}
.login, .signup{
  background-image: url("Images/background.png");
  background-size: 100% 100%;
}
.container-login, .container-signup{
  margin-top: 0;
  margin-bottom: 0;
  height: 705px;
}
.promote{
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
  font-weight: bold;
}
.form-group-login{
  padding-top: 40px;
}
.form-group-signup{
    padding-top: 75px;
}
.login-section, .signup-section{
  background-color: rgba(255, 255, 255, 0.3);
  width: 450px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.signup-section{
  background-color: rgba(255, 255, 255, 0);
}
.login-user, .login-pass, .btn-login, .signup-name, .signup-school, .signup-email, .signup-pass, .signup-pass-confirm, .btn-signup{
  width: 350px;
  height: 50px;
  border-color: transparent;
  z-index: 1;
  font-size: 24px;
}
.login-pass, .signup-school, .signup-email, .signup-pass, .signup-pass-confirm{
  margin-top: 30px;
}
.signup-name, .signup-school, .signup-email, .signup-pass, .signup-pass-confirm{
  border-radius: 5px;
}
::-webkit-input-placeholder {
  color: rgba(22, 22, 22, 0.5);
  font-weight: 500;
}
.btn-login{
    font-size: 28px;
    color: #fff;
    margin-top: 30px;
    background-color: rgba(49, 176, 45, 1);
}
.btn-login a{
    color: rgba(255, 255, 255, 1);
}
.btn-signup{
  font-size: 28px;
  color: #fff;
  margin-top: 30px;
  background-color: rgba(49, 176, 45, 1);
}
.btn-signup a{
    color: rgba(255, 255, 255, 1);
}
p.account-signup {
  color: #fff;
  padding-top: 35px;
}
p.account-signup a{
    color: #fff;
    font-size: 28px;
}
p.account-login a{
 color: #fff;
 text-align: center;
 font-size: 24px;
 padding-top: 10px;
}
.navbar-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    margin-top: 150px;
}
.navbar-account{
    background-color: #f1f1f1;
}
.list-left a{
    display: block;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
}
.list-left a{
    padding-top: 60px;
}
li a:hover {
    background-color: #555;
    color: white;
}
.overview-home{
    background-image: radial-gradient(
        #554450,
        #edd
        );
    height: 750px;
}
.overview-content{
    font-size: 48px;
    color: #fff;
}
.overview-name{
    padding-bottom: 25px;
}
.overview-pic img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.row-overview{
    padding-top: 50px;
}
.half-line{
    width: 50%;
}
