div{
  transition-duration: 2s;
}
.nav-profile-brand {
  max-height: 50px;
}
.navbar-brand{
  height: 50px;
  padding: 0;
  float: left;
  padding-left: 25px;
}
.container {
  font-size: 18px;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.navbar-fixed-top {
  background: #ff9933;
  background: transparent;
  position: fixed;
  border-color: transparent;
}
.nav.navbar-nav li a{
  color: #000066;
  color: #ffffff;
}
.menu:hover{
  background-color: #66ccff;
}
.btn-media{
  height: 30px;
  width: 50px;
  margin-top: 10px;
}
.section{
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome{
  background-image: url("images/background.png");
}
.mission{
  background-image: url("images/pokemon.png")
}
.intro{
  font-size: 75px;
  font-weight: 600;
  color: #003366;
  font-style: italic;
}
.intro:hover{
  color: #000000;
}
#welcome{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}
.welcome-head{
  text-align: center;
  font-size: 125px;
  font-weight: 700;
  padding-top: 150px;
  color: #993399
}
